<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>html</string>
                <string>htm</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>appicon.icns</string>
            <key>CFBundleTypeName</key>
            <string>HTML Document</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
        </dict>
    </array>
    <key>CFBundleDisplayName</key>
    <string>快捷分享HTML</string>
    <key>CFBundleName</key>
    <string>快捷分享HTML</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2023 小布</string>
    <key>LSEnvironment</key>
    <dict>
        <key>QT_QPA_PLATFORM_PLUGIN_PATH</key>
        <string>@executable_path/../Resources/plugins/platforms</string>
        <key>QT_PLUGIN_PATH</key>
        <string>@executable_path/../Resources/plugins</string>
    </dict>
</dict>
</plist> 